@model IList<Annonce_Asp.netCore.Models.Annonces>
<h1 class="h3 mb-2 text-gray-800 alert alert-danger">Liste Des Annonces Refuser</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><span class="fa fa-table"></span> Annonces Refuser</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Ville</th>
                        <th>Region</th>
                        <th>Date Publicité</th>
                        <th>Images</th>
                        <th>Catégories</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Description</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Ville</th>
                        <th>Region</th>
                        <th>Date Publicité</th>
                        <th>Images</th>
                        <th>Catégories</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Ann_Texte.Substring(0, 50)......</td>
                            <td>@item.Telephone</td>
                            <td>@item.Ann_Email</td>
                            <td>@item.ville.ville_Name</td>
                            <td>@item.region.Region_Nom</td>
                            <td>@item.date_Publiciter</td>
                            <td><img src="~/Image_Ann/@item.images" class="img-thumbnail" style="width:100px;height:90px"></td>
                            <td>@item.categories.nom_Cat</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

