@model Annonce_Asp.netCore.Models.Annonces

@{
    ViewData["Title"] = "Delete";
}
<br>
<br>
<br>
<h3 class="alert alert-danger">Are you sure you want to delete this? <i class="fas fa-info-circle" style="margin-left:50%"></i></h3>
<div>
    <h4>Annonces</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ann_Texte)
        </dd>
        <dt>
            Email :
        </dt>
        <dd>
            <p style="color:black">@Model.Ann_Email</p>
        </dd>
        <dt>
            N° Du Telephone :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            Code Postal :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code_Postal)
        </dd>
        <dt>
            Image :
        </dt>
        <dd>
            <img src="~/Image_Ann/@Model.images" style="width:500px;height:300px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_Publiciter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_Publiciter)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="genric-btn danger circle arrow" /> |
        <a asp-action="Index" class="genric-btn danger-border circle arrow">Back to List</a>
    </form>
</div>
@section principal{ }